.container {
  /* margin-top: 50px; */
  padding: 20px;
  height: fit-content;
  /* border: 1px solid green; */
  display: flex;
  justify-content: flex-start;
}

.container * {
  /* border: 1px solid red; */
  transition: ease 300ms;
}

.imgContainer {
  vertical-align: top;
  border: 1px solid black;
  width: 150px;
  height: inherit;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-right: 20px;
  overflow: hidden;
}

.imgContainer img {
  object-fit: cover;
  width: 100%;
}

.infoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info span {
  padding: 10px;
  font-size: 20px;
}

.updateBtn {
  align-self: flex-end;
}

.updateBtn button {
  cursor: pointer;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
}

.updateBtn button:hover {
  box-shadow: 0 0 0 3px var(--secondary-color) inset;
}

.updateBtn button:active {
  background-color: var(--secondary-color);
}

@media screen and (width<=768px){
  .updateBtn {
    align-self: flex-start;
  }
}
