.container {
  margin-top: 50px;
  padding: 20px;
  height: 120px;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
}

.container * {
  transition: ease 300ms;
}

.imgContainer {
  border: 1px solid black;
  height: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1;
  margin-right: 20px;
}

.infoContainer {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.infoContainer span {
  padding: 10px;
  font-size: 20px;
}

.cardInfoBtn button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
}

.cardInfoBtn button:hover {
  box-shadow: 0 0 0 3px var(--secondary-color) inset;
}