.container {
  width: 60%;
  height: 800px;
  margin-top: 50px;
  border: 1px dashed rgb(177, 94, 94);
}

.uploadContainer {
  width: 100%;
  height: 50%;
  display: flex;
  border: 1px dashed rgb(177, 171, 94);
}

.previewContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed rgb(104, 177, 94);
}

.uploadPreview {
  width: 90%;
  height: 90%;
  border: 1px dashed rgb(177, 94, 173);
}

.imgSize {
  width: 100%;
  height: 100%;
}
  
.resultContainer {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px dashed rgb(94, 95, 177);
}

.uploadResult {
  width: 90%;
  height: 90%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px dashed rgb(38, 107, 38);
}

.iconBox {
  width: 100%;
  height: 15%;
  align-items: center;
  border: 1px dashed rgb(145, 67, 141);
}

.resultDetail {
  width: 100%;
  height: 85%;
  align-items: center;
  border: 1px dashed rgb(139, 92, 137);
}
  
.recommendContainer {
  width: 100%;
  height: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.recommendTitle {
  width: 100%;
  height: 10%;
  border: 1px dashed rgb(192, 170, 170);
}

.imgsRecommended {
  width: 95%;
  height: 85%;
  border: 1px dashed rgb(136, 111, 111);
}
  