.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.componentContainer {
  margin-top: 50px;
  width: 60%
}

@media screen and (width<=768px){
  .componentContainer {
    width: 90%;
  }
}