.container {
  padding: 10px;
  height: 60vh;
  /* border: 1px dashed red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container label {
  padding: 10px;
  font-size: 20px;
  /* border: 1px dashed red; */
}

/* Form 1 Category */
.contentContainer {
  height: 100%;
  /* border: 1px dashed red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
}

.contentContainer textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 0 1px var(--primary-color) inset;
  outline: none;
  align-self: center;
  max-width: 80%;
  min-width: 80%;
  min-height: 200px;
  max-height: 200px;
}

.contentContainer textarea:hover {
  box-shadow: 0 0 0 3px var(--secondary-color) inset;
}

.form2 {
  align-items: center;
}

.form2 select {
  outline: none;
  margin: 10px;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--primary-color) inset;
}

.datePicker {
  display: flex;
  justify-content: space-evenly;
}

.datePicker label {
  display: block;
  padding: 10px;
}

.category {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  align-content: center;
}

.category * {
  transition: ease-out 300ms;
}

.category input[type=radio] {
  display: none;
}

.categoryBtn {
  width: 100%;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 1/1;
}

.submitBtn {
  padding: 10px;
  align-items: center;
}

.categoryBtn label {
  cursor: pointer;
  text-align: center;
  font-size: small;
}

.categoryBtn:hover {
  box-shadow: 0 0 0 3px var(--secondary-color) inset;
}

.category input[type=radio]:checked + .categoryBtn {
  border-radius: 50%;
}

.categoryBtn:active {
  background-color: var(--secondary-color);
}

@media screen and (width<=768px){
  .container{
    min-height: 60vh;
    height: fit-content;
  }
  
  .category {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    align-content: center;
  }

  .bar {
    width: 60px;
  }

  .contentContainer .datePicker {
    display: flex;
    flex-direction: column;
  }
}