.container {
  /* border: 1px solid black; */
  height: 80%;
  display: flex;
  justify-content: center;
}

.oauth-container {
  width: 60%;
  margin-top: 50px;
  background: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.oauth-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  position: relative;
}

.oauth-btn {
  border: 1px solid black;
  width: 250px;
  margin: auto;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  color: black;
}

.oauth-btn img {
  height: 32px;
  margin: 10px 0px;
  float: left;
}

.oauth-btn.google {
  margin-top: 7px;
}

@media screen and (width<=768px){
  .oauth-container {
    width: 100%;
  }

  .oauth-btn {
    width: 100%;
  }
}