.container {
  text-align: center;
}

.oauth-btn {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
}

.oauth-btn img {
  height: 32px;
  float: left;
  margin-top: 10px;
}

.oauth-btn.google {
  margin-top: 7px;
}