@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.nav_container {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo * {
  text-decoration: none;
  /* width: 40px; */
}

.nav_links li{
  margin-left: 10px;
  list-style: none;
}

.nav_links a {
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
}

a:hover {
  color: #000;
}

@media screen and (width<=768px){
  .nav_container {
    width: 90%;
  }
}

