.container {
  margin-top: 50px;
  width: 90%;
  height: 850px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  overflow: hidden;
  border-radius: 10px;
  scroll-behavior: smooth;
}

.chatContainer {
  width: 100%;
  /* border: 1px solid red; */
}

.profileContainer {
  width: 40%;
  overflow: scroll;
  /* border: 1px solid red; */
}

@media screen and (width<=768px){
  .container {
    width: 90%;
    height: fit-content;
    flex-direction: column;
  }

  .profileContainer {
    display: none;
  }

  .pageBtnContainer {
    display: flex;
  }

  .pageBtnContainer div, .pageBtnContainer button {
    width: 100%
  }
}