.container {
  width: 60%;
  height: 800px;
  margin-top: 50px;
  border: 1px dashed rgb(177, 94, 94);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
}






