.container {
  padding: 20px;
}

.basicInfoContainer {
  margin-top: 50px;
  text-align: left;
}

.basicInfoContainer label {
  font-weight: 800;
}

.basicInfoContainer ul{
  padding: 0px;
  margin-bottom: 100px;
}

.basicInfoContainer li {
  display: flex;
  align-items: center;
  padding: 5px;
  list-style: none;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 120px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.btn span {
  font-size: 12px;
  color: grey;
  margin-top: 20px;
}
