.container {
  grid-template-columns: repeat(1, 3fr);
  margin-top: 20px;
  width: 100%;
  /* border: 1px solid red; */
}

.workCardContainer {
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.add {
  padding-top: 20%;
}

.addBtnContainer {
  /* padding-top: 20%; */
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.addBtnContainer label {
  padding-top: 20px;
  font-size: 14px;
  color: gray;
}