.container {
  width: 60%;
  border: 1px dashed red;
  display: flex;
  justify-content: center;
}

.profileContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pageBtnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid var(--primary-color);
}

.pageBtnContainer * {
  transition: ease 300ms;
}

.pageBtnContainer button {
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  padding: 5px;
  background-color: transparent;
  border: none;
}

.pageBtnContainer input[type=radio] {
  display: none;
}

.pageBtnContainer input[type=radio]:checked + button {
  box-shadow: 0px -3px 0px 0px var(--secondary-color) inset;
}

@media screen and (width<=768px){
  .container {
    width: 90%;
  }

  .pageBtnContainer {
    display: flex;
    /* justify-content: center; */
  }

  .pageBtnContainer div, .pageBtnContainer button {
    width: 100%
  }
}

