.container {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
}

.dropzoneAccept {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(240, 250, 231);
}

.dropzoneReject {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(253, 232, 232);
}




